main {
    border: solid black 3px;
    background-color: rgb(231, 236, 240);
    padding: 5px;
    margin: 5px;
}

form {
    display: flex;
    position: absolute;
    right: 1.2rem;
    top: 1rem;
    gap: 10px;
    margin: 8px;
    padding: 10px;
}

#inputTab {
    width: 30em;
}

form input {
    padding: 10px 15px;
    font-size: 12px;
    height: 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
}

form button:hover {
    background-color: #41a3ee;
    transition-duration: 0.3s;
}

header {
    text-align: right;
}

h1 {
    padding: 8px;
    margin: 5px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

h3 {
    font-weight: bolder;
    font-style: oblique;
    font-size: 40px;
}



#todos {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}

.taskContainer {
    width: 30%;
    text-align: left;
}

.task-item {
    display: flex;
    align-items: center;
    overflow: auto;
    flex-wrap: wrap;
    padding: 5px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.check-box {
    -webkit-appearance: none;
    /* Disable default style */
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    /* Set width */
    height: 20px;
    /* Set height */
    border: 2px solid black;
    /* Green border */
    border-radius: 4px;
    /* Slightly rounded */
    outline: none;
    cursor: pointer;
    position: relative;
}

.check-box:checked {
    background-color: rgb(13, 155, 237);
}

.check-box:checked::before {
    content: "✓";
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
}

.remove-button:hover {
    background-color: rgb(177, 60, 60);
    transition-duration: 0.3s;
}